<div class="container">
  <h2 class="nav-brand text-center">Quotes on Quotes</h2>
    <hr>
      <div class="row">
        <div class="offset-1 col-md-5">
            <app-quote-input-form (addQuote)="addAQuote($event)"></app-quote-input-form>
        </div>

          <div class="col-md-6">
              <div *ngFor='let quote of quotes; let i = index' class="card">
                  <div>
                      <div class="text-dark card-body">
                          <blockquote class="blockquote mb-0 text-center">"{{quote.text}}" <br>
                              <footer class="blockquote-footer">{{quote.author}}
                                  <button (click)='viewDetails(i)' class="btn btn-primary">More Details</button>
                              </footer>
                          </blockquote>
                      </div>
                  </div>
                  <br>
                  <app-quote-details *ngIf='quote.showDetail' [quote]='quote' (seen)='hideQuote($event,i)'></app-quote-details>
              </div>
          </div>
      </div>
</div>

<!--        <li appStrikethrough>{{goal.name}}</li> to create this in directive ts -->
