.d-flex{
    margin-top: 7px;
    margin-bottom: 10px;
}
button:hover{
    background: #fff !important;
    color: grey;
  }
button{
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      rgb(197, 196, 196) 0%,
      rgb(218, 217, 217) 50%,
      #fff 75%
    ) !important;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
    
  }
.upvote{
  background: linear-gradient(
      140deg,
      #29cc88 0%,
      #35cf70 50%,
      #30c756c7 75%
    ) !important;
    color: #fff;
}
.upvote:hover{
  background: #fff !important;
  color: #35cf70;
}

.downvote{
  background: linear-gradient(
    140deg,
    #e06565 0%,
    #BB6464 50%,
    #BB6464 75%
  ) !important;
  color: #fff;
}

.downvote:hover{
  background: #fff !important;
  color: #d43838;
}

#trash{
  padding:5px 20px;
}
.posted{
  font-size: smaller;
}