
<div id="details" class="d-flex justify-content-around">
    <button type="button" class="upvote" (click)="upVote()"><i class="fa fa-thumbs-up"></i>
         <!-- remember to style -->

        <span>&nbsp;{{numberOfLikes}}</span>
    </button>
    <button type="button" class="downvote" (click)="downVote()"><i class="fa fa-thumbs-down"></i>
        <!-- remember to style -->
        <span>&nbsp;{{numberOfDislikes}}</span>
    </button>
    <button id="trash" class="btn btn-outline-danger" (click)='deleteQuote(true)'><i class="fa fa-trash" aria-hidden="true"></i></button>
</div>
<div class="posted">
<span class="text"> &nbsp;&nbsp; Posted by: {{quote.submitName}}</span> <span class=" time text">  Time:{{quote.postDate|timeCount}} </span><br>
</div>
