<div class="d-flex justify-content-around">
    <button class="btn btn-primary" (click)="upVote()">
         <!-- remember to style -->
         UpVote
        <span>&nbsp;{{numberOfLikes}}</span>
    </button>
    <button class="btn btn-primary" (click)="downVote()">
        <!-- remember to style -->
        Downvote
        <span>&nbsp;{{numberOfDislikes}}</span>
    </button>
    <button class="btn btn-outline-danger" (click)='deleteQuote(true)'>Delete</button>
</div>
<span class="text-muted"> &nbsp;&nbsp; Posted by: {{quote.submitName}}</span> <span class=" time text-muted">  Time:{{quote.postDate|timeCount}} </span><br>
